<div class="container">
  <h1>Trackers</h1>
  <% if @trackers.empty? %>
    <p>La liste est vide, il est surement temps de <%= link_to "créer un tracker",
    new_tracker_path %></p>

  <% else %>
    <ol>
    <% @trackers.each do |tracker| %>
      <li><%= tracker.botname %>, <%= tracker.fb_first_name %>, <%= tracker.fb_last_name %>, <%= tracker.fb_locale %>, <%= tracker.fb_gender%>, <%= tracker.botstage %> <%= link_to "Show", tracker_path(tracker), {class: "btn btn-primary"} %><%= link_to "Delete", tracker_path(tracker),{class: "btn btn-danger", :method => :delete} %>
      </li>
    <% end %>
    </ol>
  <% end %>
</div>

